@font-face {
    font-family: Neumann;
    src: url("../Fonts/Neumann/td-neumann.otf") format("opentype");
}
@font-face {
    font-family: Museo;
    src: url("../Fonts/Museo/MuseoSansCyrl300.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: Museo;
    src: url("../Fonts/Museo/MuseoSansCyrl500.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: Museo;
    src: url("../Fonts/Museo/MuseoSansCyrl700.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: Museo;
    src: url("../Fonts/Museo/MuseoSansCyrl900.woff") format("woff");
    font-weight: 900;
}
.button {
    background: radial-gradient(31.58% 218.14% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(92.7deg, #E9C878 0%, #C1A050 100%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 220px;
    box-shadow: 0px 10px 50px rgba(233, 200, 120, 0.5);
    border-radius: 250px;
}
.input1 {
    background: #F5F5F5;
    box-shadow: inset 0px 2px 0px #EBEBEB;
}
.swiper-button-disabled {
    opacity: 35%;
}
.swiper-button-prev::after,.swiper-button-next::after {
    display: none;
}
.swiper-pagination-bullet
{
    background: #000;
    opacity: 100%;
    width: 6px;
    height: 6px;
}
.swiper-pagination-bullet-active
{
    background: #007AFF;
    width: 10px;
    height: 10px;
}